section {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: rows;
}

.cards {
  margin: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: 0.3s;
}

.cards:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.image_box img {
  border-radius: 10px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.details button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  margin: 5px 10px;
  cursor: pointer;
}
.details button:hover {
  background-color: #45a049;
}

.details button:hover {
  background-color: orange;
}
